/* Header */
.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc(4 * var(--space-base)) 0;
    position: sticky;
    top: 0;
    z-index: 5;
}

.nav__wrapper {
    padding: 1em 6vw;
}

.header__info {
    text-align: center;
    padding: 1em 0;
}

.header__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vh;
}

.header__hero h1, .header__hero p, .header__hero a {
    z-index: 1;
    margin: calc(4 * var(--space-base));

}

/* Dropdown */
.header__drop {
    position: relative;
    display: inline-block;
}

.header__drop-button {
    padding: 0.8em;
}

.header__drop-content {
    display: none;
    position: absolute;
    background-color: var(--light-gray);
    width: fit-content;
    z-index: 1;
    border: 3px solid var(--black);
    box-shadow: 3px 3px 0 var(--black);
}

.header__drop-content .header__drop-item {
    padding: 12px;
    display: block;
}

.header__drop-content .header__drop-item:hover{
    background-color: var(--gray);
}

.header__drop-content .header__drop-item:active,
.header__drop-content .header__drop-item:active a
{
    background-color: var(--black);
    color: white;
}

.header__drop:hover .header__drop-content{
    display: block;
}

.header__drop:hover .header__drop-button {
    background-color: var(--black);
    color: var(--white);
}


/* Footer */
.footer__container {
    display: flex;
    justify-content: space-between;
}

.footer__column {
    width: calc(100% / 3);
}

.footer__list {
    display: flex;
    font-size: 2em;
    column-gap: 0.5em;
}

.footer__list li {
    padding: 3px 0;
}

.footer__menu-container li{
    margin: 0.6em 0;
}

.footer a:hover, 
.header__nav a:not(:last-child):hover,
.header__info a:hover {
    border-bottom: 0.3em dotted black;
}

.footer a:active, 
.header__nav a:not(:last-child):active,
.header__info a:active {
    border-bottom: 0.3em solid black;
}